div.m-panel.m-panzoombar.opened.no-collapsible {
  margin-left: 80px !important;
}

div.m-panel.m-panzoom.opened.no-collapsible {
  margin-left: 72.5px !important;
}

.m-areas > div.m-area > div.m-panel.m-geostats.opened {
  background-color: transparent;
  box-shadow: none;
  position: fixed;
}

.geostats-font-small{
  font-size: 0.8em !important;
}

div.m-geostats-plugin {
  -webkit-transition: max-width 0.5s ease 0s, opacity 0.44s ease 0s;
  transition: max-width 0.5s ease 0s, opacity 0.44s ease 0s;
  background: #fff;
  width: 25vw;
  height: 100vh;
}

.m-areas > div.m-area > div.m-panel.m-geostats.collapsed {
  border-radius: 20px;
  height: 40px;
}

.m-areas
  > div.m-area.m-left
  > div.m-panel.m-geostats.collapsed
  > button.m-panel-btn.g-cartografia-flecha-derecha {
  color: #00796b !important;
  position: fixed;
  top: 10px;
  left: 10px;
}

.m-areas
  > div.m-area.m-left
  > div.m-panel.m-geostats.opened
  > button.m-panel-btn.g-cartografia-flecha-izquierda {
  background-color: #00796b;
  color: #fff !important;
}

div.m-geostats-container {
  background-color: #fff;
}

div.m-geostats-title {
  line-height: 40px;
  text-align: center;
  height: 39px;
  width: 100%;
  padding: 5 5 5 0;
  border-bottom: 2px solid #ff9800;
  font-size: 15px;
  background-color: #00796b !important;
  color: #fff;
}

.m-geostats-container > div.body {
  background-color: #fff;
}

div.geostats-input-container {
  display: block;
  padding: 5px;
  border-bottom: 1px dashed #ccc;
}

label.geostats-input-label {
  display: block;
  margin-top: 5px;
  padding: 5px;
}

label.geostats-input-label-inline {
  margin-top: 5px;
  padding: 5px;
  font-size: 0.8em;;
}


li.geostats-li{
  display: block;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}


.geostats-input-button,
.geostats-input-button:enabled{
  display: block;
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 5px;
}

.geostats-input-checkbox,
.geostats-input-checkbox:enabled {
  margin-top: 5px;
  padding: 5px;
  vertical-align:middle;
  cursor: pointer;
}

.geostats-input-file,
.geostats-input-file:enabled {
  height: 25px;
  width: 97%;
  cursor: pointer;
  display: block;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #6c6c6c;
  font-family: Muli, "sans-serif";
}

.geostats-input-radio{
  display: inline-block;
}
#csvParameters{
  display:flex;
}

.geostats-legend-container{
  height: auto;
  position: relative;
}

.geostats-legend {
  position: relative;
  width: 100%;
  overflow: auto !important;
  max-height: 330px;
}

.geostats-legend div {
  margin:3px 10px 5px 10px;
  clear:left;
}

.geostats-legend-title {
  font-weight: bold;
  margin-bottom: 4px;
}

.geostats-legend-block {
  border: 1px solid #555555;
  display: block;
  float: left;
  height: 12px;
  margin: 0 5px 0 20px;
  width: 20px;
}

.geostats-legend-counter { 
  font-size: 0.8em;
  color:#666;
  font-style: italic;
}

#SelectLinkColumn, #SelectDataColumn{
  width:80%;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
}

#divLinkColumn, #divDataColumn {
  width: 50%;
}

.geostats-button,
.geostats-button:enabled {
  width: 39%;
  margin: 5px 25% 5px;
  padding: 5px;
  background-color: #fff;
  font-family: Muli, "sans-serif" !important;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  font-size: 15px;
  line-height: 25px;
  opacity: 0.75;
  -webkit-transition: opacity 0.25s ease 0s;
  transition: opacity 0.25s ease 0s;
  color: #404040;
}

.geostats-button:hover:enabled {
  color: black;
  border: 1px solid #2c2c2c;
}

.geostats-input-checkbox:disabled,
.geostats-input-file,
.geostats-button:disabled,
.geostats-select:disabled,
.geostats-input-button {
  cursor: not-allowed;
  margin-bottom: 5px;
}

.geostats-select,
.geostats-select:enabled {
  height: 30px;
  width: 100%;
  cursor: pointer;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #6c6c6c;
  font-family: Muli, "sans-serif";
}

.geostats-action-button-container {
  display: block;
  height: 55px;
  width: 25vw;
  background-color: #ffb74d;
  position: absolute;
  bottom: 0px;
}

span.geostats-info {
  font-size: 0.8em;
}

div.m-message {
  text-align: center;
}

.table-container {
  margin: 1em auto;
  width: 100%;
  max-width: 600px;
  font-size: 0.8rem;
  border-collapse: collapse;
}

.m-dialog.success .m-title {
  background-color: #00796b !important;
}

.m-dialog.info div.m-button > button, .m-dialog.info div.m-title{
  background-color: #00796b !important;
}

.m-dialog.success  div.m-button > button,
.m-dialog.success  div.m-title {
  background-color: #00796b !important;
}


td.geostats-td {
  border: 1px solid #d9d9d9;
  padding: 0.5em;
}

.bold{
  font-weight: bold;
}

th {
  background: #d9534f;
  color: white;
  padding: 0.5em;

  border: 1px solid #d9534f;
}

.flex-row,
.flex-cell {
  text-align: center;
}

@media only screen and (max-width: 767px) {
  th,
  td {
    width: auto;
    display: block;
    border: 0;
  }

  th {
    border-left: solid 1px #00796b;
    border-right: solid 1px #00796b;
    border-bottom: solid 1px #00796b;
  }

  td {
    border-left: solid 1px #d9d9d9;
    border-right: solid 1px #d9d9d9;
    border-bottom: solid 1px #d9d9d9;
  }

  .flex-row {
    width: 100%;
  }
}
