<div id="div-contenedor" class="m-control m-geostats-container">
  <div class="m-geostats-plugin">
    <!-- TITLE -->
    <div class="m-geostats-title">Indicadores Secciones Censales</div>
    <!-- BODY-->
    <div class="m-geostats-body">
      <div class="geostats-input-container">
        <label
          id="label_variable_1"
          class="geostats-input-label"
          for="variable_1"
          ><i class="g-cartografia-mapa"></i> Seleccionar Capa</label
        >
        <select class="geostats-select" name="variable_1" id="variable_1">
          {{#each secciones}}
          <option value="{{service}}">Secciones censales (Año {{year}})</option>
          {{/each}}
        </select>
      </div>
      <div class="geostats-input-container">
        <!-- <label
          id="label_variable_2"
          class="geostats-input-label"
          for="variable_2"
          >Variable 2 :
        </label>
        <input
          class="geostats-input"
          type="text"
          id="variable_2"
          name="variable_2"
        /> -->
        <label class="geostats-input-label"
          ><i class="g-cartografia-subir"></i> Subir CSV
        </label>
        <input class="geostats-file-upload" type="file" />
      </div>
    </div>
  </div>
</div>
