<div id="div-contenedor" class="m-control m-geostats-container">
  <div class="m-geostats-plugin">
    <!-- TITLE -->
    <div class="m-geostats-title">Mapas Estadísticos</div>
    <!-- BODY-->
    <div class="m-geostats-body">
      <div class="geostats-input-container">
        <label id="labelSelectCapa" class="geostats-input-label" for="SelectCapa"><i class="g-cartografia-mapa"></i>
          Capa</label>
        <select class="geostats-select" name="SelectCapa" id="SelectCapa">
          <option value="" selected="selected">Seleccione una opción...</option>
          {{#each secciones}}
          <option value="{{service}}">{{year}}</option>
          {{/each}}
        </select>
        <span class="geostats-info">* Seleccione una capa</span>
      </div>
      <div class="geostats-input-container">
        <label id="labelSelectedFile" class="geostats-input-label" for="SelectedFile"><i
            class="g-cartografia-lista"></i> Datos
        </label>
        <input class="geostats-input-file" type="file" accept=".csv" name="SelectedFile" id="SelectedFile" disabled />
        <span class="geostats-info">* Seleccione el fichero con la variable a representar (CSV)</span>
        <input type="button" class="geostats-input-button" name="csvLoadButton" id="csvLoadButton" value="Cargar CSV"
          disabled="disabled" />
        <div id="parseResults"></div>
      </div>
      <div class="geostats-input-container">
        <label id="labelSelectMetodo" class="geostats-input-label" for="SelectMetodo"><i
            class="g-cartografia-herramienta"></i> Representación
        </label>
        <select class="geostats-select" name="SelectMetodo" id="SelectMetodo" disabled="disabled">
          <option value="" selected="selected">Seleccione una opción...</option>
          <option value="uniqueValues">Valores únicos</option>
          <option value="equalsIntervals">Intervalos iguales</option>
          <option value="quantile">Cuantiles</option>
          <option value="standarDesviation">Desviación estandar</option>
          <option value="arithmeticProgression">Progresión aritmética</option>
          <option value="geometricProgression">Progresión geométrica</option>
          <option value="naturalBreaksJenks">Rupturas Naturales (Jenks)</option>
        </select>
        <span class="geostats-info">* Seleccione un método de clasificación</span>
        <input type="number" class="geostats-input-number" id="inputnbClass" name="inputnbClass" min="1" max="7" steps=1
          value=5 disabled="disabled">
        <span class="geostats-info">* Seleccione número de intervalos</span>
        <div>
          <div style="display:flex; flex-direction: row; justify-content: space-evenly; align-items: center; width: 50%; float: left;"> 
            <span class="geostats-info">Color inicial</span>
            <input type="button" class="geostats-color-select" id="initColor" disabled="disabled">
          </div>
          <div style="display:flex; flex-direction: row; justify-content: space-evenly; align-items: center; width: 50%; float: left;"> 
            <span class="geostats-info">Color final</span>
            <input type="button" class="geostats-color-select" id="endColor" disabled="disabled">
          </div>
        </div>
      </div>
      <div id="legend" class="geostats-legend-container"></div>
      <div class="geostats-action-button-container">
        <button id="loadButton" class="geostats-button" title="Cargar" disabled>
          <i class="g-cartografia-subir"></i> Representar
        </button>
      </div>
    </div>
  </div>
</div>